* , *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: relative;
    left: 0;
    top: 0;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: none;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}


.modal-container {
    
    position:fixed;
    background-color: transparent;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.5s ease;
    
}

.modal-container .modal img {
    max-width: 100%;
    display: block;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    border-radius: 13px;
    background-color: transparent;
    pointer-events: none;
    visibility: hidden;
}


.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

a {
    font-size: 1em;
    color: green;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background:rgb(247, 190, 5);
    visibility:visible;
}


body {
    margin: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);

}

.header, h3 {
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    font-size: 38px;

}

h3 {
    margin-bottom: 27px;
    width: 80%;
    font-size: 3em;
    font-family: 'Raleway Dots', cursive;
    color: hsl(348, 91%, 18%);
    font-weight: bold;
    /* text-shadow: 1px 1px 2px; */
}

#image-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}

img {
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 300px;
    max-height: fit-content;
    background-position: center center;
    border: 3px solid rgb(247, 190, 5);
    border-radius: 13px;
    box-shadow: 3px 2px 10px rgba(70, 61, 61, 0.5);
    transition: transform 200ms ease-in-out;
}


.index-card img {
    width: 90%;
    max-width: 900px;
    max-height: fit-content;
}

