* , *::after, *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    box-shadow: 3px 2px 8px rgba(70, 61, 61, 0.5);
    padding: 1rem 1.5rem;
    border-radius: 13px;

    
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 13px;
    background-color: transparent;
}
.close-button:hover {
    background-color: transparent;
    
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(70, 61, 61, 0.5);
    pointer-events: none;
}

a {
    font-size: 0.5em;
    color: green;
    font-weight: bold;
    float: right;
}

body {
    margin: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);

}

.header, h1, h3 {
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    font-size: 38px;

}

h3 {
    margin-bottom: 30px;
    width: 100%;
    font-size: 50px;
    font-family: 'Raleway Dots', cursive;
    color: black;
    
}

#image-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}

img {
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 200px;
    max-height: fit-content;
    background-size: contain;
    background-position: center center;
    border: 3px solid rgb(247, 190, 5);
    border-radius: 13px;
    box-shadow: 3px 2px 10px rgba(70, 61, 61, 0.5);
    transition: transform 200ms ease-in-out;
}

.index-card {
    width: 100%;
    max-width: 200px;
    max-height: fit-content;
}

